
<h1>BlogListExcel</h1>
<br />

<button class="btn btn-primary" onclick="DownLoadExcelWriterList()" >Excel Listesini İndir</button>

<script>
    function DownLoadExcelWriterList() {
        window.open("/Export/ExportStaticExcelAuthorList")
    }
</script>

<a href="/Export/ExportStaticExcelAuthorList" class="btn btn-success">Excel Listesini İndir</a>