@model CoreDemo.Controllers.EmployeeTestController.Class1


    <form asp-controller="EmployeeTest" asp-action="AddEmployee" method="post">
        <label>Çalışan Adı Soyadı:</label>
        <input type="text" asp-for="Name" />
        <input type="submit" class="btn btn-primary" />
    </form>