@model EntityLayer.Concrete.Writer

@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yazar Profil düzenleme</h1>

<h4>Writer</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="WriterEditProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WriterID" />
            <div class="form-group">
                <label asp-for="WriterName" class="control-label">Yazar Adı</label>
                <input  asp-for="WriterName" class="form-control" />
               
                <span asp-validation-for="WriterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriterAbout" class="control-label">Yazar hakkında</label>
                <input asp-for="WriterAbout"  class="form-control" />
                <span asp-validation-for="WriterAbout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriterImage" class="control-label">Yazar Resim</label>
                <input asp-for="WriterImage" class="form-control" />
                <span asp-validation-for="WriterImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriterMail" class="control-label">Yazar Mail</label>
                <input asp-for="WriterMail" class="form-control" />
                <span asp-validation-for="WriterMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriterPassword" class="control-label">Yazar Şifre</label>
                <input asp-for="WriterPassword" class="form-control" />
                <span asp-validation-for="WriterPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WriterStatus" /> @Html.DisplayNameFor(model => model.WriterStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

